extends ../layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1 #{ pagina }
                blockquote Sed pulvinar varius placerat. Proin vulputate pharetra condimentum. Fusce at pulvinar nunc. Duis gravida fringilla justo. Fusce luctus, felis in congue dapibus, dolor mi pellentesque tellus, sed fermentum odio magna sit amet nisi. 
                p Pellentesque lacinia ultricies enim at vehicula. Morbi luctus feugiat dignissim. Proin et ligula purus. Praesent vestibulum, ex non mattis dignissim, ante diam luctus velit, eget dignissim eros sem in magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec lobortis posuere augue at elementum. 
                p Donec aliquet ultricies ipsum, non pharetra eros mattis eget. Sed urna mi, condimentum sit amet massa ac, convallis fringilla mi. Pellentesque diam ex, sodales vel pretium ac, bibendum id risus.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Ut vulputate pretium neque a pretium. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Ut vulputate pretium neque a pretium. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Ut vulputate pretium neque a pretium. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;